<a href="https://colab.research.google.com/github/datxander/Back-to-basics/blob/main/30_Days_of_Python/13_List_comprehension.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
language = 'Python'
lst = list(language)
print(lst)
print(type(lst))

['P', 'y', 't', 'h', 'o', 'n']
<class 'list'>

In [2]:
# List comprehension

lst = [i for i in language]
print(lst)
print(type(lst))

['P', 'y', 't', 'h', 'o', 'n']
<class 'list'>

In [4]:
# Number generator

numbers = [i for i in range(10)]
print(numbers)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [5]:
# Mathematical operations with LC
squares = [i*i for i in range(10)]
print(squares)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [6]:
# We can also list tuples this way

sequence = [(i, i*i) for i in range(10)]
print(sequence)

[(0, 0), (1, 1), (2, 4), (3, 9), (4, 16), (5, 25), (6, 36), (7, 49), (8, 64), (9, 81)]

In [7]:
# Combining list comprehension with if expression

# Generating even numbers

evens = [i for i in range(21) if i % 2 == 0]
print(evens)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [8]:
# Generating multiples of 6

sixes = [i for i in range(100) if i % 2 == 0 and i % 3 == 0]
print(sixes)

[0, 6, 12, 18, 24, 30, 36, 42, 48, 54, 60, 66, 72, 78, 84, 90, 96]